<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.friend.dao.FollowDao">
  <select id="exists" resultType="boolean">
    SELECT COUNT(*) > 0 FROM follow
    WHERE follower_id = #{followerId} AND followee_id = #{followeeId}
  </select>

  <insert id="insert">
    INSERT INTO follow (follower_id, followee_id)
    VALUES (#{followerId}, #{followeeId})
  </insert>
  
  <select id="isMutualFriend" resultType="boolean">
    SELECT EXISTS (
        SELECT 1
        FROM follow f1
        JOIN follow f2 ON f1.follower_id = f2.followee_id AND f1.followee_id = f2.follower_id
        WHERE f1.follower_id = #{userId1} AND f1.followee_id = #{userId2}
    )
</select>
  
</mapper>
